.nav-logo, .nav-links li a {
    opacity: 0;
    transform: translateY(-20px);
    transition: all 1.5s ease;
}

.nav-logo.show, .nav-links li a.show {
    opacity: 1;
    transform: translateY(0);
}

.text-center {
    opacity: 0;
    transform: translateX(-20px);
    transition: all 1.5s ease;
}

.text-center.show {
    opacity: 1;
    transform: translateX(0);
}

.d-flex img {
    opacity: 0;
    transform: scale(0.8);
    transition: all 1.5s ease;
}

.d-flex img.show {
    opacity: 1;
    transform: scale(1);
}

.footer-bar {
    opacity: 0;
    transition: opacity 1.5s ease;
}

.footer-bar.show {
    opacity: 1;
}


nav {
    max-width: var(--max-width);
    position: fixed;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--white);
    width: 95%;
    top: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}
nav .nav-logo {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--text-dark);
}
nav .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}
nav .nav-links .link {
    font-weight: 600;
    color: var(--text-light);
    transition: .3s;
}
nav .nav-links .link:hover {
    color: var(--primary-color);
}

.footer {
    background: var(--extra-light);
}
.footer-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5rem;
}
.footer-col h3,
.footer-col h4 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);
}
.footer-col h4 {
    font-size: 1.2rem;
}
.footer-col p {
    margin-bottom: 1rem;
    color: var(--text-light);
}
.footer-col ul {
    list-style: none;
}
.footer-col ul li {
    margin-bottom: 1rem;
    font-size: 1rem;
}
.footer-col ul li a {
    color: var(--text-light);
}
.footer-col ul li a:hover {
    color: var(--text-dark);
    text-decoration: underline;
}
.footer-bar {
    position: relative;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--text-light);
    text-align: center;
} 