@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;1,800&family=Paytone+One&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    transition: .3s;
}
:root {
    --primary-color: #2c3855;
    --primary-color-dark: #435681;
    --text-dark: #333333;
    --text-light: #767268;
    --extra-light: #f3f4f6;
    --white: #fff;
    --max-width: 1200px
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}

section {
    padding: 40px 15%;
}

.contact {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 6rem;
}

.contact-form h1 {
    font-size: 80px;
    color: black;
    margin-bottom: 20px;
}

span {
    color: orange;
}

.contact-form p {
    color: gray;
    letter-spacing: 1px;
    line-height: 30px;
    font-size: 1.1rem;
    margin-bottom: 3.8rem;
}

.contact-form form {
    position: relative;
}

.contact-form form input,
form textarea {
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: rgb(48, 47, 47);
    color: black;
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
    border-radius: 10px;
}

.contact-form textarea {
    resize: none;
    height: 200px;
}

.contact-form form .btn {
    display: inline-block;
    background: orange;
    color: black;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 10px;
    width: 225px;
    transition: ease .20s;
    cursor: pointer;
}

.contact-form form .btn:hover {
    border: 2px solid orange;
    color: black;
    background: transparent;
    transform: scale(1.1);
}

.contact-img img {
    max-width: 100%;
    width: 720px;
    height: auto;
    border-radius: 10px;
}

.reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1.5s ease-out;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

.map-container {
    margin-top: 50px;
}

.map-responsive {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.map-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

nav {
    max-width: var(--max-width);
    position: fixed;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--white);
    width: 95%;
    top: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}
nav .nav-logo {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--text-dark);
}
nav .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}
nav .nav-links .link {
    font-weight: 600;
    color: var(--text-light);
    transition: .3s;
}
nav .nav-links .link:hover {
    color: var(--primary-color);
}

.footer {
    background: var(--extra-light);
}
.footer-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5rem;
}
.footer-col h3,
.footer-col h4 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);
}
.footer-col h4 {
    font-size: 1.2rem;
}
.footer-col p {
    margin-bottom: 1rem;
    color: var(--text-light);
}
.footer-col ul {
    list-style: none;
}
.footer-col ul li {
    margin-bottom: 1rem;
    font-size: 1rem;
}
.footer-col ul li a {
    color: var(--text-light);
}
.footer-col ul li a:hover {
    color: var(--text-dark);
    text-decoration: underline;
}
.footer-bar {
    position: relative;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--text-light);
    text-align: center;
} 