<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nur Shoes Store</title>
    <link rel="stylesheet" href="../style/product.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
</head>
<body>
    <!--Nav Start-->
    <nav>
    <div class="nav-logo">Nur Shoes</div>
    <ul class="nav-links">
      <li><a href="../index.html" class="link">Home</a></li>
      <li><a href="product.html" class="link">Product</a></li>
      <li><a href="./about.html" class="link">About</a></li>
      <li><a href="./contact.html" class="link">Contact</a></li>
    </ul>
  </nav>
  <!--Nav End-->

  <!--Section Start-->
  <section class="section-container popular-container">
    <h2 class="section-header reveal">Enjoy your shopping</h2>
    <div class="popular-grid">
      <div class="popular-card reveal"><a
          href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
          <img src="../assets/img/sh1.jpg" alt="popular hotel" />
        </a>
        <div class="popular-content">
          <div class="popular-card-header">
            <h4>Butterfly Embroidered Mesh Chunky Sneakers</h4>
            <h4>$45</h4>
          </div>
          <p>Size 39-46</p>
        </div>
      </div>

      <div class="popular-card reveal"> <a
          href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
          <img src="../assets/img/sh2.jpg" alt="popular hotel" />
        </a>
        <div class="popular-content">
          <div class="popular-card-header">
            <h4>Tênis High Player
            </h4>
            <h4>$35</h4>
          </div>
          <p>Size 39-46</p>
        </div>
      </div>

      <div class="popular-card reveal"><a
          href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
          <img src="../assets/img/sh3.jpg" alt="popular hotel" />
        </a>
        <div class="popular-content">
          <div class="popular-card-header">
            <h4>Toddler Girls Artificial Patent Leather Combat Boots</h4>
            <h4>$25</h4>
          </div>
          <p>Size 39-46</p>
        </div>
      </div>

      <div class="popular-card reveal"><a
          href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
          <img src="../assets/img/sh4.jpg" alt="popular hotel" />
        </a>
        <div class="popular-content">
          <div class="popular-card-header">
            <h4>Converse CT Black and White</h4>
            <h4>$30</h4>
          </div>
          <p>Size 39-46</p>
        </div>
      </div>

      <div class="popular-card reveal"><a
          href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
          <img src="../assets/img/sh5.jpg" alt="popular hotel" />
        </a>
        <div class="popular-content">
          <div class="popular-card-header">
            <h4>Running Shoes</h4>
            <h4>$30</h4>
          </div>
          <p>Size 39-46</p>
        </div>
      </div>

      <div class="popular-card reveal"><a
          href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
          <img src="../assets/img/sh6.jpg" alt="popular hotel" />
        </a>
        <div class="popular-content">
          <div class="popular-card-header">
            <h4>Leather Shoes Men
            </h4>
            <h4>$20</h4>
          </div>
          <p>Size 39-46</p>
        </div>
      </div>

      <div class="popular-card reveal"><a
          href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
          <img src="../assets/img/sh7.jpg" alt="popular hotel" />
        </a>
        <div class="popular-content">
          <div class="popular-card-header">
            <h4>High-performance Unisex Basketball Shoes</h4>
            <h4>$25</h4>
          </div>
          <p>Size 39-46</p>
        </div>
      </div>

      <div class="popular-card reveal"><a
          href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
          <img src="../assets/img/sh8.jpg" alt="popular hotel" />
        </a>
        <div class="popular-content">
          <div class="popular-card-header">
            <h4>AJ1 Grey Shadow</h4>
            <h4>$35</h4>
          </div>
          <p>Size 39-46</p>
        </div>
      </div>

      <div class="popular-card reveal"><a
          href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
          <img src="../assets/img/sh9.jpg" alt="popular hotel" />
        </a>
        <div class="popular-content">
          <div class="popular-card-header">
            <h4>Colorblock Lace-up Front Skate Shoes</h4>
            <h4>$30</h4>
          </div>
          <p>Size 39-46</p>
        </div>
      </div>

      <div class="popular-card reveal"><a
        href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
        <img src="../assets/img/sh10.jpg" alt="popular hotel" />
      </a>
      <div class="popular-content">
        <div class="popular-card-header">
          <h4>Nike Air Jordan Mid Top</h4>
          <h4>$40</h4>
        </div>
        <p>Size 39-46</p>
      </div>
    </div>

    <div class="popular-card reveal"><a
        href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
        <img src="../assets/img/sh11.jpg" alt="popular hotel" />
      </a>
      <div class="popular-content">
        <div class="popular-card-header">
          <h4>Nike Air Jordan 1 x High End Brands - 3D Concept</h4>
          <h4>$35</h4>
        </div>
        <p>Size 39-46</p>
      </div>
    </div>

    <div class="popular-card reveal"><a
        href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
        <img src="../assets/img/sh12.jpg" alt="popular hotel" />
      </a>
      <div class="popular-content">
        <div class="popular-card-header">
          <h4>The Air Jordan 1 High "Shadow 2.0" Release Details News and Release Dates</h4>
          <h4>$30</h4>
        </div>
        <p>Size 39-46</p>
      </div>
    </div>

    <div class="popular-card reveal"><a
        href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
        <img src="../assets/img/sh13.jpg" alt="popular hotel" />
      </a>
      <div class="popular-content">
        <div class="popular-card-header">
          <h4>New Adidas Og Samba Core Black Wonder White Silver Metallic Sneakers</h4>
          <h4>$40</h4>
        </div>
        <p>Size 39-46</p>
      </div>
    </div>

    <div class="popular-card reveal"><a
        href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
        <img src="../assets/img/sh14.jpg" alt="popular hotel" />
      </a>
      <div class="popular-content">
        <div class="popular-card-header">
          <h4>Zapatillas Samba OG - Negro adidas</h4>
          <h4>$35</h4>
        </div>
        <p>Size 39-46</p>
      </div>
    </div>

    <div class="popular-card reveal"><a
        href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
        <img src="../assets/img/sh15.jpg" alt="popular hotel" />
      </a>
      <div class="popular-content">
        <div class="popular-card-header">
          <h4>Adidas Samba OG White/White</h4>
          <h4>$35</h4>
        </div>
        <p>Size 39-46</p>
      </div>
    </div>

    <div class="popular-card reveal"><a
        href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
        <img src="../assets/img/sh16.jpg" alt="popular hotel" />
      </a>
      <div class="popular-content">
        <div class="popular-card-header">
          <h4>Sepatu Adidas Gazelle</h4>
          <h4>$35</h4>
        </div>
        <p>Size 39-46</p>
      </div>
    </div>

    <div class="popular-card reveal"><a
        href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
        <img src="../assets/img/sh17.jpg" alt="popular hotel" />
      </a>
      <div class="popular-content">
        <div class="popular-card-header">
          <h4>Stand Out Fresh - adidas Spezial</h4>
          <h4>$33</h4>
        </div>
        <p>Size 39-46</p>
      </div>
    </div>

    <div class="popular-card reveal"><a
        href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
        <img src="../assets/img/sh18.jpg" alt="popular hotel" />
      </a>
      <div class="popular-content">
        <div class="popular-card-header">
          <h4>Crafted for Comfort: The adidas Spezial </h4>
          <h4>$30</h4>
        </div>
        <p>Size 39-46</p>
      </div>
    </div>

    <div class="popular-card reveal"><a
        href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
        <img src="../assets/img/sh19.jpg" alt="popular hotel" />
      </a>
      <div class="popular-content">
        <div class="popular-card-header">
          <h4>New Balance 9060</h4>
          <h4>$35</h4>
        </div>
        <p>Size 39-46</p>
      </div>
    </div>

    <div class="popular-card reveal"><a
        href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
        <img src="../assets/img/sh20.jpg" alt="popular hotel" />
      </a>
      <div class="popular-content">
        <div class="popular-card-header">
          <h4>New balance 530
          </h4>
          <h4>$30</h4>
        </div>
        <p>Size 39-46</p>
      </div>
    </div>

    <div class="popular-card reveal"><a
        href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
        <img src="../assets/img/sh21.jpg" alt="popular hotel" />
      </a>
      <div class="popular-content">
        <div class="popular-card-header">
          <h4>New Balance 530 in White/Natural Indigo Colorway</h4>
          <h4>$30</h4>
        </div>
        <p>Size 39-46</p>
      </div>
    </div>

    <div class="popular-card reveal"><a
        href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
        <img src="../assets/img/sh22.jpg" alt="popular hotel" />
      </a>
      <div class="popular-content">
        <div class="popular-card-header">
          <h4>New Balance M's 990v6 'Made in USA' Grey</h4>
          <h4>$35</h4>
        </div>
        <p>Size 39-46</p>
      </div>
    </div>

    <div class="popular-card reveal"><a
        href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
        <img src="../assets/img/sh23.jpg" alt="popular hotel" />
      </a>
      <div class="popular-content">
        <div class="popular-card-header">
          <h4>New Balance 990</h4>
          <h4>$33</h4>
        </div>
        <p>Size 39-46</p>
      </div>
    </div>

    <div class="popular-card reveal"><a
        href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
        <img src="../assets/img/sh24.jpg" alt="popular hotel" />
      </a>
      <div class="popular-content">
        <div class="popular-card-header">
          <h4>New Balance CT300</h4>
          <h4>$33</h4>
        </div>
        <p>Size 39-46</p>
      </div>
    </div>
    </div>
  </section>
  <!--Section End-->

  <!--Footer Start-->
  <footer class="footer">
    <div class="footer-bar">
      <p>Copyright &copy; mrnurihsann. All rights reseved</p>
    </div>
  </footer>
  <!--Footer End-->

  <script src="../js/product.js"></script>
    
</body>
</html>