<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nur Shoes Store</title>
  <link rel="stylesheet" href="../style/product.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
  <!--Nav section start-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top me-1 ms-1">
    <div class="container-fluid">
      <a class="navbar-brand" href="../index.html">Nur Shoes</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link" aria-current="page" href="../index.html">Home</a>
          <a class="nav-link active" href="product.html">Product</a>
          <a class="nav-link" href="./about.html">About</a>
          <a class="nav-link" href="./contact.html">Contact</a>
        </div>
      </div>
    </div>
  </nav>
  <!--Nav section end-->

  <!--Section Start-->
  <section class="section-container popular-container py-4">
    <div class="container">
      <h2 class="section-header text-center mb-4">Enjoy your shopping</h2>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <!-- Popular card start -->
        <div class="col">
          <div class="card h-100">
            <a href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
              <img src="../assets/img/sh1.jpg" class="card-img-top" alt="Butterfly Embroidered Mesh Chunky Sneakers">
            </a>
            <div class="card-body">
              <h5 class="card-title">Butterfly Embroidered Mesh Chunky Sneakers</h5>
              <p class="card-text">$45</p>
              <p class="card-text">Size 39-46</p>
              <button type="button"><a style="text-decoration:none"
                  href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda"> Buy
                  Now</a>
              </button>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <a href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
              <img src="../assets/img/sh2.jpg" class="card-img-top" alt="Tênis High Player">
            </a>
            <div class="card-body">
              <h5 class="card-title">Tênis High Player</h5>
              <p class="card-text">$35</p>
              <p class="card-text">Size 39-46</p>
              <button type="button"><a style="text-decoration:none"
                  href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda"> Buy
                  Now</a>
              </button>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <a href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
              <img src="../assets/img/sh3.jpg" class="card-img-top" alt="Tênis High Player">
            </a>
            <div class="card-body">
              <h5 class="card-title">Toddler Girls Artificial Patent Leather Combat Boots</h5>
              <p class="card-text">$25</p>
              <p class="card-text">Size 39-46</p>
              <button type="button"><a style="text-decoration:none"
                  href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda"> Buy
                  Now</a>
              </button>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <a href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
              <img src="../assets/img/sh4.jpg" class="card-img-top" alt="Tênis High Player">
            </a>
            <div class="card-body">
              <h5 class="card-title">Converse CT Black and White</h5>
              <p class="card-text">$30</p>
              <p class="card-text">Size 39-46</p>
              <button type="button"><a style="text-decoration:none"
                  href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda"> Buy
                  Now</a>
              </button>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <a href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
              <img src="../assets/img/sh5.jpg" class="card-img-top" alt="Tênis High Player">
            </a>
            <div class="card-body">
              <h5 class="card-title">Running Shoes</h5>
              <p class="card-text">$30</p>
              <p class="card-text">Size 39-46</p>
              <button type="button"><a style="text-decoration:none"
                  href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda"> Buy
                  Now</a>
              </button>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <a href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
              <img src="../assets/img/sh6.jpg" class="card-img-top" alt="Tênis High Player">
            </a>
            <div class="card-body">
              <h5 class="card-title">Leather Shoes Men
              </h5>
              <p class="card-text">$20</p>
              <p class="card-text">Size 39-46</p>
              <button type="button"><a style="text-decoration:none"
                  href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda"> Buy
                  Now</a>
              </button>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <a href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
              <img src="../assets/img/sh7.jpg" class="card-img-top" alt="Tênis High Player">
            </a>
            <div class="card-body">
              <h5 class="card-title">High-performance Unisex Basketball Shoes</h5>
              <p class="card-text">$25</p>
              <p class="card-text">Size 39-46</p>
              <button type="button"><a style="text-decoration:none"
                  href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda"> Buy
                  Now</a>
              </button>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <a href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
              <img src="../assets/img/sh8.jpg" class="card-img-top" alt="Tênis High Player">
            </a>
            <div class="card-body">
              <h5 class="card-title">AJ1 Grey Shadow</h5>
              <p class="card-text">$35</p>
              <p class="card-text">Size 39-46</p>
              <button type="button"><a style="text-decoration:none"
                  href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda"> Buy
                  Now</a>
              </button>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <a href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
              <img src="../assets/img/sh9.jpg" class="card-img-top" alt="Tênis High Player">
            </a>
            <div class="card-body">
              <h5 class="card-title">Colorblock Lace-up Front Skate Shoes</h5>
              <p class="card-text">$30</p>
              <p class="card-text">Size 39-46</p>
              <button type="button"><a style="text-decoration:none"
                  href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda"> Buy
                  Now</a>
              </button>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <a href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
              <img src="../assets/img/sh10.jpg" class="card-img-top" alt="Tênis High Player">
            </a>
            <div class="card-body">
              <h5 class="card-title">Nike Air Jordan Mid Top</h5>
              <p class="card-text">$40</p>
              <p class="card-text">Size 39-46</p>
              <button type="button"><a style="text-decoration:none"
                  href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda"> Buy
                  Now</a>
              </button>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <a href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
              <img src="../assets/img/sh11.jpg" class="card-img-top" alt="Tênis High Player">
            </a>
            <div class="card-body">
              <h5 class="card-title">Nike Air Jordan 1 x High End Brands - 3D Concept</h5>
              <p class="card-text">$35</p>
              <p class="card-text">Size 39-46</p>
              <button type="button"><a style="text-decoration:none"
                  href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda"> Buy
                  Now</a>
              </button>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <a href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
              <img src="../assets/img/sh12.jpg" class="card-img-top" alt="Tênis High Player">
            </a>
            <div class="card-body">
              <h5 class="card-title">The Air Jordan 1 High "Shadow 2.0" Release Details News and Release Dates</h5>
              <p class="card-text">$30</p>
              <p class="card-text">Size 39-46</p>
              <button type="button"><a style="text-decoration:none"
                  href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda"> Buy
                  Now</a>
              </button>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <a href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
              <img src="../assets/img/sh13.jpg" class="card-img-top" alt="Tênis High Player">
            </a>
            <div class="card-body">
              <h5 class="card-title">New Adidas Og Samba Core Black Wonder White Silver Metallic Sneakers</h5>
              <p class="card-text">$40</p>
              <p class="card-text">Size 39-46</p>
              <button type="button"><a style="text-decoration:none"
                  href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda"> Buy
                  Now</a>
              </button>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <a href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
              <img src="../assets/img/sh14.jpg" class="card-img-top" alt="Tênis High Player">
            </a>
            <div class="card-body">
              <h5 class="card-title">Zapatillas Samba OG - Negro adidas</h5>
              <p class="card-text">$35</p>
              <p class="card-text">Size 39-46</p>
              <button type="button"><a style="text-decoration:none"
                  href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda"> Buy
                  Now</a>
              </button>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <a href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
              <img src="../assets/img/sh15.jpg" class="card-img-top" alt="Tênis High Player">
            </a>
            <div class="card-body">
              <h5 class="card-title">Adidas Samba OG White/White</h5>
              <p class="card-text">$35</p>
              <p class="card-text">Size 39-46</p>
              <button type="button"><a style="text-decoration:none"
                  href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda"> Buy
                  Now</a>
              </button>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <a href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
              <img src="../assets/img/sh16.jpg" class="card-img-top" alt="Tênis High Player">
            </a>
            <div class="card-body">
              <h5 class="card-title">Sepatu Adidas Gazelle</h5>
              <p class="card-text">$35</p>
              <p class="card-text">Size 39-46</p>
              <button type="button"><a style="text-decoration:none"
                  href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda"> Buy
                  Now</a>
              </button>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <a href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
              <img src="../assets/img/sh17.jpg" class="card-img-top" alt="Tênis High Player">
            </a>
            <div class="card-body">
              <h5 class="card-title">Stand Out Fresh - adidas Spezial</h5>
              <p class="card-text">$33</p>
              <p class="card-text">Size 39-46</p>
              <button type="button"><a style="text-decoration:none"
                  href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda"> Buy
                  Now</a>
              </button>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <a href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
              <img src="../assets/img/sh18.jpg" class="card-img-top" alt="Tênis High Player">
            </a>
            <div class="card-body">
              <h5 class="card-title">Crafted for Comfort: The adidas Spezial</h5>
              <p class="card-text">$30</p>
              <p class="card-text">Size 39-46</p>
              <button type="button"><a style="text-decoration:none"
                  href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda"> Buy
                  Now</a>
              </button>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <a href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
              <img src="../assets/img/sh19.jpg" class="card-img-top" alt="Tênis High Player">
            </a>
            <div class="card-body">
              <h5 class="card-title">New Balance 9060</h5>
              <p class="card-text">$35</p>
              <p class="card-text">Size 39-46</p>
              <button type="button"><a style="text-decoration:none"
                  href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda"> Buy
                  Now</a>
              </button>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <a href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
              <img src="../assets/img/sh20.jpg" class="card-img-top" alt="Tênis High Player">
            </a>
            <div class="card-body">
              <h5 class="card-title">New balance 530</h5>
              <p class="card-text">$30</p>
              <p class="card-text">Size 39-46</p>
              <button type="button"><a style="text-decoration:none"
                  href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda"> Buy
                  Now</a>
              </button>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <a href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
              <img src="../assets/img/sh21.jpg" class="card-img-top" alt="Tênis High Player">
            </a>
            <div class="card-body">
              <h5 class="card-title">New Balance 530 in White/Natural Indigo Colorway</h5>
              <p class="card-text">$30</p>
              <p class="card-text">Size 39-46</p>
              <button type="button"><a style="text-decoration:none"
                  href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda"> Buy
                  Now</a>
              </button>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <a href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
              <img src="../assets/img/sh22.jpg" class="card-img-top" alt="Tênis High Player">
            </a>
            <div class="card-body">
              <h5 class="card-title">New Balance M's 990v6 'Made in USA' Grey</h5>
              <p class="card-text">$35</p>
              <p class="card-text">Size 39-46</p>
              <button type="button"><a style="text-decoration:none"
                  href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda"> Buy
                  Now</a>
              </button>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <a href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
              <img src="../assets/img/sh23.jpg" class="card-img-top" alt="Tênis High Player">
            </a>
            <div class="card-body">
              <h5 class="card-title">New Balance 990</h5>
              <p class="card-text">$35</p>
              <p class="card-text">Size 39-46</p>
              <button type="button"><a style="text-decoration:none"
                  href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda"> Buy
                  Now</a>
              </button>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <a href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda">
              <img src="../assets/img/sh24.jpg" class="card-img-top" alt="Tênis High Player">
            </a>
            <div class="card-body">
              <h5 class="card-title">New Balance CT300</h5>
              <p class="card-text">$35</p>
              <p class="card-text">Size 39-46</p>
              <button type="button"><a style="text-decoration:none"
                  href="https://wa.me/6289652171686?text=Halo%20Admin,%20Saya%20Ingin%20Memesan%20Produk%20Anda"> Buy
                  Now</a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Section End-->

  <!--Footer Start-->
  <footer class="footer bg-light text-center py-3">
    <div class="container">
      <p class="mb-0">Copyright &copy; mrnurihsann. All rights reserved</p>
    </div>
  </footer>
  <!--Footer End-->

  <script src="../js/product.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>

</html>